STEPS;-<br>
1. Extract
2. Split
3. Train the model on training set
4. test the model on testing set

RULES:<br>
1. Features should not have any strings
2. Features and target should not have null values
3. Features should be of the type array/ dataframe
4. Features should have some rows and some columns
5. Features should be on the same scale w.r.t. each other

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv("odi.csv")

In [15]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [16]:
df=df.drop("date",axis=1)

In [17]:
df.head()

,mid,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

# 1

In [18]:
X=df.drop("total",axis=1)

In [19]:
y=df["total"]

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Data columns (total 13 columns):
mid               350899 non-null int64
venue             350899 non-null object
bat_team          350899 non-null object
bowl_team         350899 non-null object
batsman           350899 non-null object
bowler            350899 non-null object
runs              350899 non-null int64
wickets           350899 non-null int64
overs             350899 non-null float64
runs_last_5       350899 non-null int64
wickets_last_5    350899 non-null int64
striker           350899 non-null int64
non-striker       350899 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 34.8+ MB

In [21]:
X=pd.get_dummies(X,columns=["venue","bat_team","bowl_team","batsman","bowler"],drop_first=True)

In [22]:
X.columns

Index(['mid', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'striker', 'non-striker', 'venue_Adelaide Oval',
       'venue_Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium',
       ...
       'bowler_Younis Khan', 'bowler_Yuvraj Singh', 'bowler_Z Khan',
       'bowler_Zaheer Maqsood', 'bowler_Zahid Hussain', 'bowler_Zahid Shah',
       'bowler_Zahoor Khan', 'bowler_Zain Abbas', 'bowler_Ziaur Rahman',
       'bowler_Zulfiqar Babar'],
      dtype='object', length=1828)

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Columns: 1828 entries, mid to bowler_Zulfiqar Babar
dtypes: float64(1), int64(7), uint8(1820)
memory usage: 630.5 MB

In [24]:
X.isna().sum()

mid                                                                                    0
runs                                                                                   0
wickets                                                                                0
overs                                                                                  0
runs_last_5                                                                            0
wickets_last_5                                                                         0
striker                                                                                0
non-striker                                                                            0
venue_Adelaide Oval                                                                    0
venue_Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium    0
venue_Antigua Recreation Ground, St John's                                             0
venue_Arnos Vale Ground, Kingstown                                                     0
venue_Barabati Stadium                                                                 0
venue_Basin Reserve                                                                    0
venue_Bay Oval                                                                         0
venue_Beausejour Stadium, Gros Islet                                                   0
venue_Bellerive Oval                                                                   0
venue_Bert Sutcliffe Oval                                                              0
venue_Boland Park                                                                      0
venue_Brabourne Stadium                                                                0
venue_Brisbane Cricket Ground, Woolloongabba                                           0
venue_Buffalo Park                                                                     0
venue_Cambusdoon New Ground                                                            0
venue_Captain Roop Singh Stadium                                                       0
venue_Chevrolet Park                                                                   0
venue_Chittagong Divisional Stadium                                                    0
venue_Civil Service Cricket Club, Stormont                                             0
venue_Clontarf Cricket Club Ground                                                     0
venue_Cobham Oval (New)                                                                0
venue_County Ground                                                                    0
                                                                                      ..
bowler_VR Aaron                                                                        0
bowler_VRV Singh                                                                       0
bowler_VS Solanki                                                                      0
bowler_WB Rankin                                                                       0
bowler_WD Balaji Rao                                                                   0
bowler_WD Parnell                                                                      0
bowler_WF Stelling                                                                     0
bowler_WK McCallan                                                                     0
bowler_WP Masakadza                                                                    0
bowler_WPUJC Vaas                                                                      0
bowler_WT Gavera                                                                       0
bowler_WW Hinds                                                                        0
bowler_Wahab Riaz                                                                      0
bowler_XJ Doherty                                                                      0
bowler_Y Punja                                                                         0
bowler_YK Pathan                                                                       0
bowler_YS Chahal                                                                       0
bowler_Yamin Ahmadzai                                                                  0
bowler_Yasir Arafat                                                                    0
bowler_Yasir Shah                                                                      0
bowler_Younis Khan                                                                     0
bowler_Yuvraj Singh                                                                    0
bowler_Z Khan                                                                          0
bowler_Zaheer Maqsood                                                                  0
bowler_Zahid Hussain                                                                   0
bowler_Zahid Shah                                                                      0
bowler_Zahoor Khan                                                                     0
bowler_Zain Abbas                                                                      0
bowler_Ziaur Rahman                                                                    0
bowler_Zulfiqar Babar                                                                  0
Length: 1828, dtype: int64

In [25]:
type(X)

pandas.core.frame.DataFrame

In [26]:
X.shape

(350899, 1828)

# Split

In [27]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

# 3

In [30]:
from sklearn.tree import DecisionTreeRegressor

In [31]:
tree=DecisionTreeRegressor()

In [ ]:
tree.fit(X_train,y_train)

# 4