In [1]:
import pandas as pd

In [91]:
df=pd.read_csv("odi.csv")

In [92]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [93]:
df=df.drop(["mid","date","venue","runs_last_5","wickets_last_5"],axis=1)

In [94]:
df.head()

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker,total
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,301
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,301
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0,301
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0,301
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0,301

# 1

In [95]:
X=df.drop(["total"],axis=1)

In [96]:
y=df["total"]

In [97]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
X["bat_team"]=label.fit_transform(X["bat_team"])

In [100]:
X["bowl_team"]=label.fit_transform(X["bowl_team"])
X["batsman"]=label.fit_transform(X["batsman"])
X["bowler"]=label.fit_transform(X["bowler"])

# 2

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

# 3

In [103]:
from sklearn.tree import DecisionTreeRegressor

In [104]:
tree=DecisionTreeRegressor()

In [105]:
tree.fit(X_train,y_train)

DecisionTreeRegressor()

# 4

In [106]:
tree.score(X_test,y_test)

0.8790003469186357

# Prediction

In [107]:
X.columns

Index(['bat_team', 'bowl_team', 'batsman', 'bowler', 'runs', 'wickets',
       'overs', 'striker', 'non-striker'],
      dtype='object')

In [110]:
data=pd.DataFrame([{0:0,1:0,2:1.0,3:1,4:60,5:1,6:10.0,7:45,8:12}])

In [111]:
data

   0  1    2  3   4  5     6   7   8
0  0  0  1.0  1  60  1  10.0  45  12

In [112]:
tree.predict(data)

array([417.])