In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("titanictrain.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [9]:
df=df.drop(["PassengerId","Name","Ticket","Cabin","Embarked"],axis=1)

In [10]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.8+ KB

In [12]:
X=df.drop("Survived",axis=1)

In [13]:
y=df["Survived"]

In [15]:
from sklearn.impute import SimpleImputer

In [16]:
from sklearn.pipeline import Pipeline

In [17]:
from sklearn.svm import SVC

In [18]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y)

In [20]:
X=pd.get_dummies(X,columns=["Sex"],drop_first=True)

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Pclass      891 non-null int64
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Sex_male    891 non-null uint8
dtypes: float64(2), int64(3), uint8(1)
memory usage: 35.8 KB

In [23]:
type(X)

pandas.core.frame.DataFrame

In [24]:
X.shape

(891, 6)

In [26]:
import numpy as np

In [37]:
imp=SimpleImputer(missing_values=np.nan,strategy="mean")

In [38]:
clf=SVC()

In [39]:
steps=[("imputation",imp),("SVM",clf)]

In [40]:
pipeline=Pipeline(steps)

In [41]:
pipeline.fit(X_train,y_train)

Pipeline(steps=[('imputation', SimpleImputer()), ('SVM', SVC())])

In [42]:
pipeline.score(X_test,y_test)

0.6457399103139013